.Gambar img{
    height: 120px;
}

.Gambar {
    align-items: center;
    text-align: center;
}

.list-sidebar {
    margin-top: 20px;
}

.divider {
    width: 19%;
    height: 2px;
    background-color: black;
    text-align: left;
    margin-left: 27px;
}

.box-user {
    width: 45%;
    height: 100px;
    margin: 27px;
    background-color: #669DDC;
}
.box-product {
    width: 45%;
    height: 100px;
    margin: 27px;
    background-color: #39BCA6;
}

.box-count {
    display: flex;
}
